<?xml version="1.0" encoding="UTF-8"?>
<!--L
  Copyright Oracle Inc, ScenPro Inc, SAIC-F

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/cadsr-formbuilder/LICENSE.txt for details.
L-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_9" version="2.4">
  <javaee:display-name>FormLoader</javaee:display-name>
  <listener>
    <javaee:listener-class>
			org.apache.struts2.tiles.StrutsTilesListener
		</javaee:listener-class>
  </listener>
  <context-param>
    <javaee:param-name>tilesDefinitions</javaee:param-name>
    <javaee:param-value>/WEB-INF/tiles.xml</javaee:param-value>
  </context-param>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>LoginForm.jsp</welcome-file>
  </welcome-file-list>
</web-app>